h1,h2,h3,h4,h5,h6 { line-height: 50px }
h6 { display: none; }
ul,
nav,
header,
aside,
#main,
article,
section,
footer,
.row-fluid { border-bottom: 1px solid gray; border-radius: 5px; text-align: center; box-sizing: border-box; }
header,
footer { height: 50px; line-height: 50px; margin-top: 20px; }

ul { margin: 0; padding: 20px; }
li { list-style: none; padding: 0; margin: 0; }

#aside-and-main { margin: 20px 0 0 0; }
aside { min-height: 200px; line-height: 200px; }
#main { text-align: center; padding: 20px;}
#main .row-fluid { margin: 20px 0 0 0;}

aside,
nav,
.row-fluid,
article { padding: 20px;}
article header,
article footer { margin: 0; }
article p { padding: 20px; margin: 0; }
article + article, nav + nav { margin-top: 20px;}
article[class^=span] {
    margin: 0;
}

.fat-footer { margin: 20px 0; padding: 20px; }